@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>This a basic movie database built in ASP.NET linked with a SQL server and a C# registering software.</p>
    <br />
    <br />
    <br />
    <br />
    <h5>You can navigate to the database by clicking on the link below.</h5>
    <br />
    <a class="btn btn-primary" href="@Url.Action("Index","Movies")"><h1>List of Movies</h1></a>
</div>
<div>
        <p></p>
    </div>
